/* #region  FONT */
@font-face {
  font-family: "Altima";
  src: url("Altima/Altima.eot");
  src: url("Altima/Altima.eot?#iefix") format("embedded-opentype"),
    url("Altima/Altima.woff") format("woff"),
    url("Altima/Altima.ttf") format("truetype"),
    url("Altima/Altima.svg#Altima") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "Altima";
    src: url("Altima/Altima.svg") format("svg");
    font-weight: normal;
    font-style: normal;
  }
}
/* #endregion */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background: #00000b;
  font-family: "Altima";
  position: relative;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
#game{
  height: 1080px;
  width: 1920px;
  position: absolute;
}
.help{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.startingText{
  width: 700px;
  padding: 20px 40px;
  background:rgba(0, 0, 0, 0.8);
  position: absolute;
  font-size: 60px;
  color: #fff;
  z-index: 3;
  opacity: 1;
  transition: .3s ease;
  pointer-events: none;
  margin: 0 auto;
}
.helpText{
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 40px;
  padding: 20px;
  z-index: 3;
}
.startingText.hide, .helpText.hide{
  opacity: 0;
}
.layer_1 {
  position: absolute;
  z-index: 1;
}
.layer_2 {
  position: absolute;
  z-index: 2;
}
.layer_3 {
  height: 1080px;
  width: 1920px;
  position: absolute;
  z-index: 4;
  display: flex;
  align-items: center;
  justify-content: center;
}
.layer_3 > *{
  position: absolute;
}
.layer_3 .planet{
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(200%);
  opacity: 0;
  animation: planet 1s ease forwards;
}
@keyframes planet{
  to{
    transform: translateX(0);
    opacity: 1;
  }
}
.parallaxStars{
  height: 1080px;
  width: 1920px;
  opacity: 0;
  animation: paraStars 0s ease 1s forwards;
}
@keyframes paraStars{
  0%{
    opacity: 0;
  }
  1%{
    opacity: 1;
  }
  100%{
    opacity: 1;
  }

}
.flash{
  height: 1080px;
  width: 1920px;
  background-color: #fff;
  opacity: 0;
  animation: flash 3s ease 1s forwards;
}
@keyframes flash{
  0%{
    opacity: 0;
  }
  1%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }

}
.panel{
  transform: translateX(-100%);
  animation: panel 1s ease forwards;
}
@keyframes panel{
  to{
    transform: translateX(0)
  }
}
.stars > img {
  position: absolute;
}
/* #region  STAR PLACEMENT */
.stars > img:nth-child(1) {
  top: 100px;
  left: 300px;
}
.stars > img:nth-child(2) {
  top: 800px;
  left: 800px;
}
.stars > img:nth-child(3) {
  top: 500px;
  left: 1700px;
}
.stars > img:nth-child(4) {
  top: 80px;
  left: 1200px;
}
.stars > img:nth-child(5) {
  top: 540px;
  left: 950px;
}
.stars > img:nth-child(6) {
  top: 912px;
  left: 1220px;
}
.stars > img:nth-child(7) {
  top: 495px;
  left: 740px;
}
.stars > img:nth-child(8) {
  top: 1015px;
  left: 1576px;
}
.stars > img:nth-child(9) {
  top: 966px;
  left: 82px;
}
/* #endregion */
.layer_2 .planet {
  position: absolute;
  transition: 0.3s ease;
}
.layer_2 .planet.selected {
  filter: drop-shadow(4px 5px 0px rgba(0, 0, 0, 0.8));
  margin-top: -4px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}
.layer_2 .planet.selected::before {
  content: url("imgs/cursor.gif");
  display: block;
  width: 54px;
  height: 54px;
  position: absolute;
  right: -40px;
}
.layer_2 .planet.four.planet.selected::before, .layer_2 .planet.five.planet.selected::before{
  right: auto;
  left: -40px;
  transform: rotate(180deg);
 }
 .layer_2 .planet.selected::after {
  content: attr(data-name);
  display: block;
  height: 54px;
  width: 100px;
  white-space: nowrap;
  line-height: 55px;
  position: absolute;
  right: -150px;
  font-size: 50px;
  color: #fff;
}
.layer_2 .planet.four.planet.selected::after, .layer_2 .planet.five.planet.selected::after{
 text-align: right;
 right: auto;
 left: -150px
}
.layer_2 .planet.one {
  top: 110px;
  left: 150px;
}
.layer_2 .planet.two {
  top: 450px;
  left: 5px;
}
.layer_2 .planet.three {
  top: 800px;
  left: 550px;
}
.layer_2 .planet.four {
  top: 540px;
  left: 1136px;
}
.layer_2 .planet.five {
  top: 10px;
  left: 1653px;
}
.layer_3 .planet.cloned::after {
  content: attr(data-name);
  display: block;
  height: 100px;
  width: 100px;
  white-space: nowrap;
  line-height: 100px;
  position: absolute;
  right: -150px;
  font-size: 100px;
  color: #fff;
}
